# Ignore virtual environment
venv/

# macOS system files
.DS_Store

# Python cache files
__pycache__/
*.py[cod]

# Config and credential files
*.ini
*.env

# VS Code settings
.vscode/

# Logs and temp files
*.log
*.tmp